// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

h1, p{
  font-family: arial
}

body {
  background: $gray; // Using this variable
}

.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: gray;
  &:hover {
    color: black;
  }
}

input.field{
  color: black;
  padding: 15px;
  font-size: 20px;


}

input.button{
background-color: rgb(47, 102, 183);
color: white;
padding: 20px;
border-radius: 20px;
font-size: 20px;
font-family: arial;
}

input.button:hover{
  background-color: gray;
}
